.cartPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.totalCardSection {
  flex: 0 0 25%;
  position: sticky;
  top: 20px;
}

.cartEmpty {
  flex: 1;
}

.cartCardSection {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}
