.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.searchContainer {
  margin-bottom: 20px;
}

.searchInput {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contentContainer {
  display: flex;
}

.filterSection {
  flex: 0 0 20%;
  padding-right: 25px;
  /* background: blue; */
  height: max-content;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.productSection {
  flex: 1;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
  }
}